<div class="page" id="home">

	<div class="header"><h1>Municipalidad de Ushuaia</h1></div>
	
	<div class="content">

        <ul class="list">
            <li><a ng-tap="$navigate.go('/page1', 'slide')"><strong>Página Uno</strong></a></li>
            <li><a ng-tap="$navigate.go('/telefonos', 'slide')"><strong>Teléfonos útiles</strong></a></li>

            <li><a ng-tap="$navigate.go('/cuando-llega', 'slide')"><strong>Cuándo llega el cole?</strong></a></li>
            <li><a ng-tap="$navigate.go('/error-reporting', 'slide')"><strong>Problemas con la aplicación?</strong></a></li>
        </ul>

	</div><!-- .content -->

</div><!-- .page -->
